@reference "tailwindcss";
@plugin "daisyui"{
  themes: --default forest --prefersdark forest;
  root: ":root";
  logs: true;
}

.asset-list-table {
}

.asset-list-header {
}

.asset-list-row {
}

.asset-list-empty {
}
